.JoyChannels {

  .ui.message.JoyInlineMsg {
    display: inline-flex;
    width: auto;
    margin-top: 0;

    &.CreateBtn {
      cursor: pointer;

      /* Disable text selection by user: */
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */

      &:hover,
      &:focus {
        background-color: #f3fce0;
      }
      &:active {
        background-color: #e0f4b7;
      }
    }
  }

  .ChannelPreview {
    display: flex;

    .ChannelAvatar {
      /* NOTE: set 'background-image' property in JS */

      background-size: cover;
      display: table;
      border-radius: 50%;
      margin-right: 2rem;

      $size: 100px;
      width: $size;
      height: $size;
    }

    .ChannelTitle {
      color: #000;
    }

    .ChannelStats {
      margin-left: 3rem;
      text-align: right;

      .statistic {
        .label,
        .value {
          text-align: right;
          white-space: nowrap;
        }
        .label {
          color: #999;
          font-weight: normal;
          font-size: .9rem;
        }
      }
    }
  }
}