name: query-node
runtime: nodejs
description: Kubernetes IaC for Query Node
template:
  config:
    aws:profile:
      default: joystream-user
    aws:region:
      default: us-east-1
    isMinikube:
      description: Whether you are deploying to minikube
      default: false
    isLoadBalancerReady:
      description: Whether the load balancer service is ready and has been assigned an IP
      default: false
    externalIndexerUrl:
      description: URL for an external indexer. If set this will not deploy an Indexer.
      default: 'http://query-node:4000/graphql'
    skipProcessor:
      description: If set to true, will not deploy a processor instance
      default: false
    useLocalRepo:
      description: If set to true, will use an existing docker image on local
      default: false
    appsImage:
      description: The joystream image to use for running GraphQL servers
      default: joystream/apps:latest
