# In case prettier plugin or eslint with autofix is not enabled in IDE
# The fallback settings here should match with our prettierrc config
# so we get consistency!
root = true

[*]
indent_style=space
indent_size=2
tab_width=2
end_of_line=lf
charset=utf-8
trim_trailing_whitespace=true
max_line_length=120
insert_final_newline=true
