language: rust
rust:
  - 1.37.0
cache:
  - cargo
before_script:
  - rustup component add rustfmt
  - ./setup.sh
script:
  - cargo fmt --all -- --check
  - cargo test --verbose --all
  - cargo build --release
