language: rust

rust:
  - 1.40.0
# Caching saves a lot of time but often causes stalled builds...
# disabled for now
# look into solution here: https://levans.fr/rust_travis_cache.html
# cache:
#  - cargo

before_script:
  - rustup component add rustfmt --toolchain 1.40.0-x86_64-unknown-linux-gnu
  - rustup update nightly
  - cargo +nightly install --git https://github.com/alexcrichton/wasm-gc --force

script:
  # Ensure all checked in code is cargo-fmt'ed
  - cargo fmt --all -- --check
  # Native build and unit tests check
  - cargo test --verbose --all
  # WASM build check
  - cargo build
