[workspace]
members = [
	"runtime",
	"runtime-modules/proposals/engine",
	"runtime-modules/proposals/codex",
	"runtime-modules/proposals/discussion",
	"runtime-modules/common",
	"runtime-modules/council",
	"runtime-modules/forum",
	"runtime-modules/membership",
	"runtime-modules/referendum",
	"runtime-modules/storage",
	"runtime-modules/working-group",
	"runtime-modules/content",
	"runtime-modules/constitution",
	"runtime-modules/staking-handler",
	"runtime-modules/bounty",
	"runtime-modules/blog",
	"runtime-modules/utility",
	"runtime-modules/project-token",    
	"node",
	"utils/chain-spec-builder/",
]
exclude = [
    "analyses/bench"
]

[profile.release]
# Substrate runtime requires unwinding.
panic = "unwind"
