[workspace]
members = [
	"runtime",
	"runtime-modules/proposals/engine",
	"runtime-modules/proposals/codex",
	"runtime-modules/proposals/discussion",
	"runtime-modules/common",
	"runtime-modules/content-working-group",
	"runtime-modules/forum",
	"runtime-modules/governance",
	"runtime-modules/hiring",
	"runtime-modules/membership",
	"runtime-modules/memo",
	"runtime-modules/recurring-reward",
	"runtime-modules/service-discovery",
	"runtime-modules/stake",
	"runtime-modules/storage",
	"runtime-modules/token-minting",
	"runtime-modules/versioned-store",
	"runtime-modules/versioned-store-permissions",
	"runtime-modules/working-group",
	"node",
#	"utils/chain-spec-builder/"
]

[profile.release]
# Substrate runtime requires unwinding.
panic = "unwind"