[workspace]
members = [
	"runtime",
	"runtime-modules/proposals/engine",
	"runtime-modules/proposals/codex",
	"runtime-modules/proposals/discussion",
	"runtime-modules/common",
	"runtime-modules/forum",
	"runtime-modules/governance",
	"runtime-modules/membership",
	"runtime-modules/memo",
	"runtime-modules/recurring-reward",
	"runtime-modules/service-discovery",
	"runtime-modules/stake",
	"runtime-modules/storage",
	"runtime-modules/token-minting",
	"runtime-modules/working-group",
	"runtime-modules/content-directory",
	"runtime-modules/constitution",
	"runtime-modules/staking-handler",
	"node",
	"utils/chain-spec-builder/"
]

[profile.release]
# Substrate runtime requires unwinding.
panic = "unwind"