{{ hostname }}/ws-rpc* {
    uri strip_prefix /ws-rpc
    reverse_proxy localhost:9944
}

{{ hostname }}/http-rpc* {
    uri strip_prefix /http-rpc
    reverse_proxy localhost:9933
}

{{ hostname }}/colossus-1* {
    uri strip_prefix /colossus-1
    reverse_proxy localhost:3333
}

{{ hostname }}/distributor-1* {
    uri strip_prefix /distributor-1
    reverse_proxy localhost:3334
}

# newer versions of graphql-server seems to expect this url also
{{ hostname }}/@apollographql/* {
    reverse_proxy localhost:8081
}

{{ hostname }}/query-node/server* {
    uri strip_prefix /query-node/server
    reverse_proxy localhost:8081
}

wss://{{ hostname }}/query-node/server* {
    uri strip_prefix /query-node/server
    reverse_proxy localhost:8081
}

{{ hostname }}/query-node/indexer* {
    uri strip_prefix /query-node/indexer
    reverse_proxy localhost:4000
}

{{ hostname }}/orion* {
    uri strip_prefix /orion
    reverse_proxy localhost:6116
}

{{ hostname }}/member-faucet* {
    uri strip_prefix /member-faucet
    reverse_proxy localhost:3002
}

{{ hostname }}/network/config.json {
    header /* {
      Access-Control-Allow-Origin *
      Cache-Control: no-cache
    }
    root * /home/caddy/
    rewrite * /endpoints.json
    file_server
}
