[defaults]
host_key_checking = False
remote_user = ubuntu
# Use the YAML callback plugin.
stdout_callback = yaml
# Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks = True
interpreter_python = /usr/bin/python3
