# Deploys a dedicated joystream-node to an existing network

#### PARAMETERS USED BY AWS CLI
REGION=us-east-1
CLI_PROFILE=default
# AWS KeyPair name generated during setup
AWS_KEY_PAIR_NAME="my-ec2-ssh-key"
# Full path to the corresponding private key for key name specified above
KEY_PATH="/Full/Path/To/my-ec2-ssh-key.pem"
DEFAULT_EC2_INSTANCE_TYPE=t2.xlarge

# Optionally add an ssh pubkey to authorized_keys on deployed node
# SSH_PUB_KEY="ssh-rsa AAAAB3NzaC1yc2EA....0hc3GND8IR mysshkey"

# Construct a unique name for the Cloudformation stack
# Remember to change the stack name if you haven't yet destroyed a previous one with the same name
STACK_NAME="my-playground-123"

# Repo and branch from which to run the playground environment
GIT_REPO="https://github.com/Joystream/joystream.git"
BRANCH_NAME="master"
# Set to 'true' to startup with blank initial state
SKIP_CHAIN_SETUP="false"
# Runtime profile options: STAGING | PLAYGROUND | TESTING or leave empty for production runtime config
RUNTIME_PROFILE="PLAYGROUND"

SUDO_SURI=
TREASURY_SURI=
INITIAL_BALANCES=
INIT_CHAIN_SCENARIO=