REGION=us-east-1
CLI_PROFILE=default
# AWS KeyPair name generated during setup
AWS_KEY_PAIR_NAME="my-ec2-ssh-key"
# Full path to the corresponding private key for key name specified above
KEY_PATH="/Full/Path/To/my-ec2-ssh-key.pem"

EC2_INSTANCE_TYPE=t2.large
VOLUME_SIZE=200

STACK_NAME="my-network-123"

DATA_PATH="data-$STACK_NAME"
INVENTORY_PATH="$DATA_PATH/inventory"

NETWORK_NAME="Joystream Testnet 123"
NETWORK_ID=joystream_testnet_123
# Runtime configuration desired (STAGING | PLAYGROUND | TESTING) or empty string for production
RUNTIME_PROFILE="STAGING"
# Deployment type to choose chainspec configuration
DEPLOYMENT_TYPE=staging
INITIAL_BALANCES_PATH=""
# If ENDOW_ACCOUNTS=0, faucet will need to be manually funded
# If >= 1 the first endowed account will be used to fund the faucet
ENDOW_ACCOUNTS=1

# Repo to use if no pre-build AMI specified and BUILD_LOCAL_CODE=""
GIT_REPO="https://github.com/joystream/joystream.git"
BRANCH_NAME=carthage

# If set will copy local code to remote buld server to compile,
# otherwise will build from GIT_REPO:BRANCH_NAME
# BUILD_LOCAL_CODE="~/Joystream/joystream"
