
# Deploys a dedicated joystream-node to an existing network

#### PARAMETERS USED BY AWS CLI
REGION=us-east-1
CLI_PROFILE=default
# AWS KeyPair name generated during setup
AWS_KEY_PAIR_NAME="my-ec2-ssh-key"
# Full path to the corresponding private key for key name specified above
KEY_PATH="/Full/Path/To/my-ec2-ssh-key.pem"
DEFAULT_EC2_INSTANCE_TYPE=t2.large

# Optionally add an ssh pubkey to authorized_keys on deployed node
# SSH_PUB_KEY="ssh-rsa AAAAB3NzaC1yc2EA....0hc3GND8IR mysshkey"

# Construct a unique name for the Cloudformation stack
# Remember to change the stack name if you haven't yet destroyed a previous one with the same name
ACCOUNT_ID=$(aws sts get-caller-identity --profile $CLI_PROFILE --query Account --output text)
STACK_NAME="joystream-node-${ACCOUNT_ID}"


# Path to joystream-node binary
BINARY_FILE="https://github.com/Joystream/joystream/releases/download/v10.5.0/joystream-node-6.5.0-201a5c9-x86_64-linux-gnu.tar.gz"
# Path to chainspec file for network to join
CHAIN_SPEC_FILE="https://github.com/Joystream/joystream/releases/download/v10.5.0/joy-testnet-6.json"
