#### PARAMETERS USED BY AWS

REGION=us-east-1
CLI_PROFILE=default
AWS_KEY_PAIR_NAME="my-ec2-ssh-key"
KEY_PATH="/Path/to/my-ec2-ssh-key.pem"
DEFAULT_EC2_INSTANCE_TYPE=t2.large
VALIDATOR_EC2_INSTANCE_TYPE=t2.large
BUILD_EC2_INSTANCE_TYPE=t2.large
RPC_EC2_INSTANCE_TYPE=t2.large
# Validator volume size GB
VOLUME_SIZE=120
RPC_VOLUME_SIZE=120

# prebuilt AMI with joystream-node, chain-spec and subkey already built
EC2_AMI_ID="ami-0ce5f13e91397239a"

ACCOUNT_ID=$(aws sts get-caller-identity --profile $CLI_PROFILE --query Account --output text)

STACK_NAME="joystream-network-${ACCOUNT_ID}"

DATA_PATH="data-$STACK_NAME"

INVENTORY_PATH="$DATA_PATH/inventory"

NUMBER_OF_VALIDATORS=2

#### PARAMETERS USED BY ANSIBLE

LOCAL_CODE_PATH="~/Joystream/joystream"
NETWORK_SUFFIX=7891

DEPLOYMENT_TYPE=staging
INITIAL_BALANCES_PATH=""

GIT_REPO="https://github.com/Joystream/joystream.git"
BRANCH_NAME=master

RUNTIME_PROFILE="STAGING"
SKIP_CHAIN_SETUP="true"

# If true will build LOCAL_CODE_PATH otherwise will pull from GIT_REPO:BRANCH_NAME
BUILD_LOCAL_CODE=false
