@font-face {
	font-family: Inter;
	font-weight: 300;
	src: url("../assets/fonts/Inter-ExtraLight-BETA.ttf") format("truetype");
}

@font-face {
	font-family: Inter;
	src: url("../assets/fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
	font-family: Inter;
	font-weight: bold;
	src: url("../assets/fonts/Inter-Bold.ttf") format("truetype");
}
