{{ ws_rpc }} {
    reverse_proxy localhost:9944
}

{{ http_rpc }} {
    reverse_proxy localhost:9933
}

{{ nip_domain }}/@apollographql/* {
    reverse_proxy localhost:8081
}

{{ nip_domain }}/query-node/server* {
    uri strip_prefix /query-node/server
    reverse_proxy localhost:8081
}

{{ nip_domain }}/query-node/indexer* {
    uri strip_prefix /query-node/indexer
    reverse_proxy localhost:4000
}
