
[package]
authors = ['Joystream contributors']
edition = '2018'
name = 'joystream-node-runtime'
# Follow convention: https://github.com/Joystream/substrate-runtime-joystream/issues/1
# {Authoring}.{Spec}.{Impl} of the RuntimeVersion
version = '6.13.0'

[features]
default = ['std']
no_std = []
std = [
    'authority-discovery-primitives/std',
    'authority-discovery/std',
    'authorship/std',
    'finality-tracker/std',
    'im-online/std',
    'session/std',
    'offences/std',
    'sr-staking-primitives/std',
    'staking/std',
    'codec/std',
    'substrate-client/std',
    'rstd/std',
    'runtime-io/std',
    'srml-support/std',
    'balances/std',
    'babe/std',
    'babe-primitives/std',
    'executive/std',
    'indices/std',
    'grandpa/std',
    'primitives/std',
    'sr-primitives/std',
    'system/std',
    'timestamp/std',
    'sudo/std',
    'version/std',
    'serde',
    'safe-mix/std',
    'offchain-primitives/std',
    'substrate-session/std',
    'transaction-payment/std',
    'randomness-collective-flip/std',
    'system-rpc-runtime-api/std',
    'forum/std',
    'minting/std',
    'recurringrewards/std',
    'stake/std',
    'hiring/std',
    'versioned_store/std',
    'versioned_store_permissions/std',
    'common/std',
    'content_working_group/std',
    'governance/std',
    'membership/std',
    'memo/std',
    'roles/std',
    'service_discovery/std',
    'storage/std',
    'proposals_engine/std',
    'proposals_discussion/std',
    'proposals_codex/std',
]

# [dependencies]
# # https://users.rust-lang.org/t/failure-derive-compilation-error/39062
# quote = '<=1.0.2'

[dependencies.babe]
default-features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'srml-babe'
rev = 'c37bb08535c49a12320af7facfd555ce05cce2e8'

[dependencies.babe-primitives]
default-features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'substrate-consensus-babe-primitives'
rev = 'c37bb08535c49a12320af7facfd555ce05cce2e8'

[dependencies.balances]
default_features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'srml-balances'
rev = 'c37bb08535c49a12320af7facfd555ce05cce2e8'

[dependencies.substrate-client]
default_features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'substrate-client'
rev = 'c37bb08535c49a12320af7facfd555ce05cce2e8'

[dependencies.codec]
default-features = false
features = ['derive']
package = 'parity-scale-codec'
version = '1.0.0'

[dependencies.executive]
default_features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'srml-executive'
rev = 'c37bb08535c49a12320af7facfd555ce05cce2e8'

[dependencies.grandpa]
default-features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'srml-grandpa'
rev = 'c37bb08535c49a12320af7facfd555ce05cce2e8'

[dependencies.indices]
default_features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'srml-indices'
rev = 'c37bb08535c49a12320af7facfd555ce05cce2e8'

[dependencies.offchain-primitives]
default-features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'substrate-offchain-primitives'
rev = 'c37bb08535c49a12320af7facfd555ce05cce2e8'

[dependencies.primitives]
default_features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'substrate-primitives'
rev = 'c37bb08535c49a12320af7facfd555ce05cce2e8'

[dependencies.rstd]
default_features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'sr-std'
rev = 'c37bb08535c49a12320af7facfd555ce05cce2e8'

[dependencies.runtime-io]
default_features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'sr-io'
rev = 'c37bb08535c49a12320af7facfd555ce05cce2e8'

[dependencies.safe-mix]
default-features = false
version = '1.0'

[dependencies.serde]
features = ['derive']
optional = true
version = '1.0.101'

[dependencies.sr-primitives]
default_features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'sr-primitives'
rev = 'c37bb08535c49a12320af7facfd555ce05cce2e8'

[dependencies.substrate-session]
default-features = false
git = 'https://github.com/paritytech/substrate.git'
rev = 'c37bb08535c49a12320af7facfd555ce05cce2e8'

[dependencies.sudo]
default_features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'srml-sudo'
rev = 'c37bb08535c49a12320af7facfd555ce05cce2e8'

[dependencies.srml-support]
default_features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'srml-support'
rev = 'c37bb08535c49a12320af7facfd555ce05cce2e8'

[dependencies.system]
default_features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'srml-system'
rev = 'c37bb08535c49a12320af7facfd555ce05cce2e8'

[dependencies.timestamp]
default_features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'srml-timestamp'
rev = 'c37bb08535c49a12320af7facfd555ce05cce2e8'

[dependencies.version]
default_features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'sr-version'
rev = 'c37bb08535c49a12320af7facfd555ce05cce2e8'

[dependencies.authority-discovery-primitives]
default_features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'substrate-authority-discovery-primitives'
rev = 'c37bb08535c49a12320af7facfd555ce05cce2e8'

[dependencies.authority-discovery]
default_features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'srml-authority-discovery'
rev = 'c37bb08535c49a12320af7facfd555ce05cce2e8'

[dependencies.authorship]
default_features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'srml-authorship'
rev = 'c37bb08535c49a12320af7facfd555ce05cce2e8'

[dependencies.finality-tracker]
default_features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'srml-finality-tracker'
rev = 'c37bb08535c49a12320af7facfd555ce05cce2e8'

[dependencies.im-online]
default_features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'srml-im-online'
rev = 'c37bb08535c49a12320af7facfd555ce05cce2e8'

[dependencies.session]
default_features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'srml-session'
rev = 'c37bb08535c49a12320af7facfd555ce05cce2e8'

[dependencies.offences]
default_features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'srml-offences'
rev = 'c37bb08535c49a12320af7facfd555ce05cce2e8'

[dependencies.sr-staking-primitives]
default_features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'sr-staking-primitives'
rev = 'c37bb08535c49a12320af7facfd555ce05cce2e8'

[dependencies.staking]
default_features = false
git = 'https://github.com/paritytech/substrate.git'
package = 'srml-staking'
rev = 'c37bb08535c49a12320af7facfd555ce05cce2e8'

[dependencies.transaction-payment]
package = "srml-transaction-payment"
git = 'https://github.com/paritytech/substrate.git'
default_features = false
rev = 'c37bb08535c49a12320af7facfd555ce05cce2e8'

[dependencies.randomness-collective-flip]
package = "srml-randomness-collective-flip"
git = 'https://github.com/paritytech/substrate.git'
default_features = false
rev = 'c37bb08535c49a12320af7facfd555ce05cce2e8'

[dependencies.system-rpc-runtime-api]
package = "srml-system-rpc-runtime-api"
git = 'https://github.com/paritytech/substrate.git'
default_features = false
rev = 'c37bb08535c49a12320af7facfd555ce05cce2e8'

# don't rename the dependency it is causing some strange compiler error:
# https://github.com/rust-lang/rust/issues/64450
[dependencies.srml-staking-reward-curve]
package = 'srml-staking-reward-curve'
git = 'https://github.com/paritytech/substrate.git'
default_features = false
rev = 'c37bb08535c49a12320af7facfd555ce05cce2e8'

[build-dependencies.wasm-builder-runner]
package = 'substrate-wasm-builder-runner'
version = '1.0.6'

[dependencies.forum]
default_features = false
package = 'substrate-forum-module'
path = '../runtime-modules/forum'

[dependencies.minting]
default_features = false
package = 'substrate-token-mint-module'
path = '../runtime-modules/token-minting'

[dependencies.stake]
default_features = false
package = 'substrate-stake-module'
path = '../runtime-modules/stake'

[dependencies.recurringrewards]
default_features = false
package = 'substrate-recurring-reward-module'
path = '../runtime-modules/recurring-reward'

[dependencies.hiring]
default_features = false
package = 'substrate-hiring-module'
path = '../runtime-modules/hiring'

[dependencies.versioned_store]
default_features = false
package ='substrate-versioned-store'
path = '../runtime-modules/versioned-store'

[dependencies.versioned_store_permissions]
default_features = false
package = 'substrate-versioned-store-permissions-module'
path = '../runtime-modules/versioned-store-permissions'

[dependencies.common]
default_features = false
package = 'substrate-common-module'
path = '../runtime-modules/common'
version = '1.0.0'

[dependencies.content_working_group]
default_features = false
package = 'substrate-content-working-group-module'
path = '../runtime-modules/content-working-group'
version = '1.0.0'

[dependencies.governance]
default_features = false
package = 'substrate-governance-module'
path = '../runtime-modules/governance'
version = '1.0.0'

[dependencies.membership]
default_features = false
package = 'substrate-membership-module'
path = '../runtime-modules/membership'
version = '1.0.0'

[dependencies.memo]
default_features = false
package = 'substrate-memo-module'
path = '../runtime-modules/memo'
version = '1.0.0'

[dependencies.roles]
default_features = false
package = 'substrate-roles-module'
path = '../runtime-modules/roles'
version = '1.0.0'

[dependencies.service_discovery]
default_features = false
package = 'substrate-service-discovery-module'
path = '../runtime-modules/service-discovery'
version = '1.0.0'

[dependencies.storage]
default_features = false
package = 'substrate-storage-module'
path = '../runtime-modules/storage'
version = '1.0.0'

[dependencies.proposals_engine]
default_features = false
package = 'substrate-proposals-engine-module'
path = '../runtime-modules/proposals/engine'
version = '2.0.0'

[dependencies.proposals_discussion]
default_features = false
package = 'substrate-proposals-discussion-module'
path = '../runtime-modules/proposals/discussion'
version = '2.0.0'

[dependencies.proposals_codex]
default_features = false
package = 'substrate-proposals-codex-module'
path = '../runtime-modules/proposals/codex'
version = '2.0.0'