
.JoyMusicAlbumActionBar {
  margin: 1rem 0;
}
.JoyMusicAlbumPreview {
  display: flex;
  border-top: 1px solid #ddd;
  padding: .5rem 0;

  .AlbumCover {
    text-align: right;
    width: 150px;
    white-space: nowrap;

    img {
      max-width: 150px;
      max-height: 150px;
    }
  }

  .AlbumDescription {
    margin: 0 1rem;
    width: 100%;

    .AlbumTitle {
      margin-bottom: 0.25rem;
    }
    .AlbumTracksCount {
      color: #999;
      margin-top: .5rem;
    }
  }
  
  .AlbumActions {
    white-space: nowrap;
    opacity: 0;
  }
  &:hover .AlbumActions {
    opacity: 1;
  }
}