
.JoyTopActionBar {
  margin: 1rem 0;

  .button {
    margin-right: .5rem;
  }
}
.JoyListOfPreviews {
  background-color: #ddd;

  .CheckboxCell {
    padding-left: 1rem;
  }

  .NoItems {
    display: block;
    background-color: #fafafa;
    padding: 1rem 0;
  }
}
.JoyMusicAlbumPreview,
.JoyMusicTrackPreview {
  display: flex;

  .JoyListOfPreviews & {
    background-color: #fafafa;
    margin-top: 1px;
    padding: .5rem 0;

    &:hover {
      background-color: #f2f2f2;
    }

    &.DraggableItem,
    &.SelectedItem {
      background-color: #dff0ff;
    }
  }

  .AlbumNumber {
    color: #999;
    width: 3.5rem;
    text-align: right;
    padding-right: 1rem;
  }

  .AlbumCover {
    text-align: right;
    white-space: nowrap;
    width: 150px;

    img {
      max-width: 150px;
      max-height: 150px;
    }
  }

  .AlbumDescription {
    padding: 0 1rem;
    width: 100%;

    .AlbumTitle {
      margin-bottom: 0.25rem;
    }
    .AlbumTracksCount {
      color: #999;
      margin-top: .5rem;
    }
  }

  .AlbumActions {
    white-space: nowrap;
    opacity: 0;

    .button {
      margin-right: .5rem;
    }
  }
  &:hover .AlbumActions {
    opacity: 1;
  }
}

.JoyMusicTrackPreview {
  .AlbumCover {
    text-align: right;
    white-space: nowrap;
    width: 60px;

    img {
      max-width: 60px;
      max-height: 60px;
    }
  }
  .AlbumTitle {
    font-size: 1rem;
  }
  .AlbumArtist {
    color: #999;
    font-size: .9rem;
  }
  .AlbumActions {
    opacity: 1;
  }
}