[package]
authors = ['Joystream contributors']
build = 'build.rs'
edition = '2018'
name = 'chain-spec-builder'
version = '3.1.1'

[dependencies]
ansi_term = "0.12.1"
rand = "0.7.2"
structopt = "0.3.8"
sc-keystore = { git = 'https://github.com/paritytech/substrate.git', branch = "rococo-v1" }
sc-telemetry = { git = 'https://github.com/paritytech/substrate.git', branch = "rococo-v1" }
sc-chain-spec = { git = 'https://github.com/paritytech/substrate.git', branch = "rococo-v1" }
sp-core = { git = 'https://github.com/paritytech/substrate.git', branch = "rococo-v1" }
joystream-node = { path = "../../node" }

enum-utils = "0.1.2"
