.Forms {
  .proposal-form {
    margin: 0 auto;
  }

  .ui.form.proposal-form {
    max-width: 48rem;

    & label {
      font-size: 1rem;
    }

    & input[name="tokens"] {
      max-width: 16rem;
    }

    & .ui.input.tokens::after {
      content: "tJOY";
      position: absolute;
      left: 5px;
    }
  }

  .form-buttons {
    display: flex;
  }
}
