[Unit]
Description=Joystream Node
After=network.target

[Service]
Type=simple
User={{ template_user }}
WorkingDirectory={{ template_working_dir }}
ExecStart={{ template_working_dir }}/bin/joystream-node \
        --chain bin/chain/chainspec-raw.json \
        --pruning archive \
        --base-path bin/chain \
        --node-key-file secrets/node-key \
        --no-mdns \
        --listen-addr {{ template_listen_multi_addr }}

Restart=on-failure
RestartSec=3
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
