@charset "UTF-8";

:root {
  --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  color: rgb(78, 78, 78);
  font-size: 14px;
  line-height: 1.4285em;
}
