@import 'styles/colours'
@import 'styles/avatar'
@import 'styles/controls'
@import 'styles/icons'
@import 'styles/countdown'

@import 'tabs/WorkingGroup'
@import 'tabs/Opportunities'
@import 'flows/apply'

// This is used to style the stories index itself
.container
  &.outer
    margin-bottom: 3em
  &.inner
    margin-bottom: 1em

.application-questions
  .section
    margin-top: 2em

    h4
      padding-bottom: 0.5em
