[package]
name = "derive-fixture"
version = "0.1.0"
authors = ['Joystream contributors']
edition = "2018"

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1"
quote = "1"
syn = "1"

[features]
default = ["std"]
std = []