.ProposalTypePreview {
  background-color: #fff;

  &:hover {
    border: 1px solid #4183c4;
  }

  .name {
    font-weight: bold;
    font-size: 1.5rem;
  }
  .description {
    margin-top: 1rem;
  }
  .conditions {
    display: flex;
    flex-flow: row;
    margin-top: 1rem;

    .condition {
      margin-right: 2rem;
    }
    .label {
      font-size: 0.9rem;
      margin-bottom: 0.25rem;
    }
    .value {
      font-size: 1.5rem;
    }
  }
}

.text-secondary {
  color: #999;
}
.details-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.details-labels {
  margin-bottom: 1rem;
}

.bold {
  font-weight: 700;
}
