/* Proposal forms */

.ProposalForm {
}

  .text-secondary {
  color: #999;
  }

.details-container > .ui.items > .item:first-child {
  display: flex;
  flex-direction: column;
}

/* Ovverrides Semantic UI for the details page.*/
.ui.items > .item:first-child {
  margin: 1em 0;
}

.details-container {
  display: flex;
}

.details-labels {
  margin-bottom: 1rem;

}

.bold {
  font-weight: 700;
}

.details-param {
  display: flex;
}