.forum--App {
  .ui.segment {
    background-color: #fff;
  }

  .ForumPageTitle {
    display: flex;
    margin-top: 1rem;

    .TitleText {
      margin-right: 1rem;
    }
  }
}

.EditEntityBox {
  width: 100%;
  max-width: 600px;

  .EditEntityForm {
    width: 100%;
  }
}
