#### PARAMETERS USED BY AWS

STACK_NAME=joystream-node
REGION=us-east-1
CLI_PROFILE=joystream-user
KEY_PATH="/Users/anuj/Joystream/anuj-key.pem"
AWS_KEY_PAIR_NAME="anuj-key"
EC2_INSTANCE_TYPE=t2.xlarge

# If true will create another instance to generate chain spec file and keys
CREATE_ADMIN_SERVER=true

# Set a prebuilt AMI if required
EC2_AMI_ID="ami-064f99551235fb1ac"

#### PARAMETERS USED BY ANSIBLE

LOCAL_CODE_PATH="~/Joystream/joystream"
NETWORK_SUFFIX=7891

GIT_REPO="https://github.com/Joystream/joystream.git"
BRANCH_NAME=sumer

# If true will build LOCAL_CODE_PATH otherwise will pull from GIT_REPO:BRANCH_NAME
BUILD_LOCAL_CODE=false
