#### PARAMETERS USED BY AWS

STACK_NAME=joystream-node
REGION=us-east-1
CLI_PROFILE=joystream-user
KEY_PATH="/Users/joystream/Joystream/joystream-key.pem"
AWS_KEY_PAIR_NAME="joystream-key"
EC2_INSTANCE_TYPE=t2.micro

# Set a prebuilt AMI if required
EC2_AMI_ID="ami-064f99551235fb1ac"

ACCOUNT_ID=$(aws sts get-caller-identity --profile $CLI_PROFILE --query Account --output text)

NEW_STACK_NAME="${STACK_NAME}-${ACCOUNT_ID}"

DATA_PATH="data-$NEW_STACK_NAME"

INVENTORY_PATH="$DATA_PATH/inventory"

#### PARAMETERS USED BY ANSIBLE

LOCAL_CODE_PATH="~/Joystream/joystream"
NETWORK_SUFFIX=7891

GIT_REPO="https://github.com/Joystream/joystream.git"
BRANCH_NAME=sumer

# If true will build LOCAL_CODE_PATH otherwise will pull from GIT_REPO:BRANCH_NAME
BUILD_LOCAL_CODE=false
