STACK_NAME=joystream-node
REGION=us-east-1
CLI_PROFILE=joystream-user
KEY_PATH="/Users/anuj/Joystream/anuj-key.pem"
AWS_KEY_PAIR_NAME="anuj-key"
BRANCH_NAME=sumer
LOCAL_CODE_PATH="~/Joystream/joystream"
EC2_INSTANCE_TYPE=t2.xlarge
NETWORK_SUFFIX=7891
CREATE_ADMIN_SERVER=true
# Set a prebuilt AMI if required
EC2_AMI_ID="ami-064f99551235fb1ac"
