STACK_NAME=joystream-node
REGION=us-east-1
CLI_PROFILE=joystream-user
KEY_PATH="~/Joystream/joystream-key.pem"
AWS_KEY_PAIR_NAME="joystream-key"
BRANCH_NAME=sumer
LOCAL_CODE_PATH="~/Joystream/joystream"
EC2_INSTANCE_TYPE=t2.xlarge
NETWORK_SUFFIX=7891
# Set a prebuilt AMI if required
EC2_AMI_ID=""
