openapi: 3.0.3
info:
  title: Storage node API
  description: Storage node API
  contact:
    email: info@joystream.org
  license:
    name: GPL-3.0-only
    url: 'https://opensource.org/licenses/GPL-3.0'
  version: 0.1.0
externalDocs:
  description: Storage node API
  url: 'https://github.com/Joystream/joystream/issues/2224'
servers:
  - url: 'http://localhost:3333/api/v1/'
tags:
  - name: files
    description: Storage node Files API
  - name: state
    description: Storage node State API
paths:
  '/files/{id}':
    get:
      operationId: filesApi.getFile
      description: Returns a media file.
      tags:
        - files
      parameters:
        - name: id
          required: true
          in: path
          description: Data object ID
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            video/*:
              schema:
                type: string
                format: binary
            audio/*:
              schema:
                type: string
                format: binary
            image/*:
              schema:
                type: string
                format: binary
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: File not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Unknown server error
    head:
      operationId: filesApi.getFileHeaders
      description: Returns a media file headers.
      tags:
        - files
      parameters:
        - name: id
          required: true
          in: path
          description: Data object ID
          schema:
            type: string
      responses:
        '200':
          description: Ok
        '400':
          description: Bad request
        '404':
          description: File not found
        '500':
          description: Unknown server error
  /files:
    post:
      description: Upload data
      operationId: filesApi.uploadFile
      tags:
        - files
      parameters:
        - name: dataObjectId
          required: true
          in: query
          description: Data object runtime ID
          schema:
            type: string
            pattern: ^\d+$ #integer
        - name: storageBucketId
          required: true
          in: query
          description: Storage bucket ID
          schema:
            type: string
            pattern: ^\d+$ #integer
        - name: bagId
          required: true
          in: query
          description: Bag ID
          schema:
            type: string
          allowReserved: true
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  description: Data file
                  type: string
                  format: binary
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /state/data-objects:
    get:
      operationId: stateApi.getAllLocalDataObjects
      description: Returns all local data objects.
      tags:
        - state
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataObjectResponse'
  '/state/bags/{bagId}/data-objects':
    get:
      operationId: stateApi.getLocalDataObjectsByBagId
      description: Returns local data objects for the bag.
      tags:
        - state
      parameters:
        - name: bagId
          required: true
          in: path
          description: Bag ID
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataObjectResponse'
  /version:
    get:
      operationId: stateApi.getVersion
      description: Returns server version.
      tags:
        - state
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionResponse'
  /state/data:
    get:
      operationId: stateApi.getLocalDataStats
      description: Returns local uploading directory stats.
      tags:
        - state
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataStatsResponse'
  /status:
    get:
      operationId: stateApi.getStatus
      description: Returns json object describing current node status.
      tags:
        - state
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        500:
          description: Unexpected server error
components:
  schemas:
    TokenRequest:
      type: object
      required:
        - data
        - signature
      properties:
        data:
          type: object
          required:
            - memberId
            - accountId
            - dataObjectId
            - storageBucketId
            - bagId
          properties:
            memberId:
              type: integer
              format: int64
            accountId:
              type: string
            dataObjectId:
              type: integer
              format: int64
            storageBucketId:
              type: integer
              format: int64
            bagId:
              type: string
        signature:
          type: string
    ErrorResponse:
      type: object
      required:
        - message
      properties:
        type:
          type: string
        message:
          type: string
    DataStatsResponse:
      type: object
      required:
        - totalSize
        - objectNumber
      properties:
        totalSize:
          type: integer
          format: int64
        objectNumber:
          type: integer
          format: int64
        tempDirSize:
          type: integer
          format: int64
        tempDownloads:
          type: integer
          format: int64
    VersionResponse:
      type: object
      required:
        - version
      properties:
        version:
          type: string
        userAgent:
          type: string
    StatusResponse:
      type: object
      required:
        - version
        - queryNodeStatus
        - uploadBuckets
        - downloadBuckets
        - sync
        - cleanup
      properties:
        version:
          type: string
        queryNodeStatus:
          type: object
          required:
            - 'url'
            - 'chainHead'
            - 'blocksProcessed'
          properties:
            url:
              type: string
            chainHead:
              type: integer
              minimum: 0
            blocksProcessed:
              type: integer
              minimum: 0
        uploadBuckets:
          type: array
          items:
            type: string
        downloadBuckets:
          type: array
          items:
            type: string
        sync:
          type: object
          required:
            - 'enabled'
            - 'interval'
          properties:
            enabled:
              type: boolean
            interval:
              type: integer
        cleanup:
          type: object
          required:
            - 'enabled'
            - 'interval'
          properties:
            enabled:
              type: boolean
            interval:
              type: integer
            maxQnLaggingThresholdInBlocks:
              type: integer
            minReplicationThresholdForPruning:
              type: integer

    DataObjectResponse:
      type: array
      items:
        type: string
