name: orion
runtime: nodejs
description: A Pulumi program to deploy Orion service to Kubernetes
template:
  config:
    aws:profile:
      default: joystream-user
    aws:region:
      default: us-east-1
    isMinikube:
      description: Whether you are deploying to minikube
      default: false
    queryNodeEndpoint:
      description: Full URL for Query node endpoint
    isLoadBalancerReady:
      description: Whether the load balancer service is ready and has been assigned an IP
      default: false
    storage:
      description: Amount of storage in gigabytes for ipfs volume
      default: 40
    orionImage:
      description: The Orion image to use for running the orion node
      default: joystream/orion:latest
