.forum--App {
  .ActionButton {
    white-space: 'nowrap';
    margin-left: '.5rem';
  }

  .ReplyBox {
    background-color: #fff;
  }
}

.EditEntityBox {
  width: 100%;
  max-width: 600px;

  .EditEntityForm {
    width: 100%;
  }
}