.Proposal {
  .description {
    word-wrap: break-word;
    word-break: break-all;
  }

  /* Ovverrides Semantic UI for the details page.*/
  .ui.items > .item:first-child {
    margin: 1em 0;
  }

  .details-container {
    display: grid;
    grid-template-columns: repeat(5, auto);
  }

  .details-container .item .extra {
    margin-bottom: 0.5em !important;
  }

  h4.ui.header.details-handle {
    margin: auto 0 auto 0.5rem;
  }

  .details-profile {
    display: flex;
    align-items: center;
  }

  .ui.items > .item .extra.proposed-by {
    /* This is to ensure Proposed By: is above the name of the creator. The image is 50x50 and has 14pxs of margin right*/
    padding-left: 64px;
  }

  .center-content {
    justify-content: center;
  }

  .bold {
    font-weight: 700;
  }

  .details-param {
    display: flex;
  }

  .ui.tabular.list-menu {
    margin-bottom: 2rem;
  }

  @media screen and (max-width: 767px) {
    .details-container {
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(3, auto);
    }
    .details-container .item:first-child {
      grid-column: 1/3;
    }
    .details-container .item {
      margin: 0.5em 0 !important;
    }
  }
}
