[Unit]
Description=Joystream Node
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/joystream/
ExecStart=/home/ubuntu/joystream/target/release/joystream-node \
        --chain {{ template_remote_chain_spec_path }} \
        --ws-external \
        --rpc-cors all \
        --pruning archive \
        --ws-max-connections 512 \
        --telemetry-url "wss://telemetry.joystream.org/submit/ 0" \
        --telemetry-url "wss://telemetry.polkadot.io/submit/ 0"
        --reserved-nodes \
                {{ boot_nodes|join(" ") }}

Restart=on-failure
RestartSec=3
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target
