name: run-network-tests
on:
  pull_request:
    types: [labeled]
  workflow_dispatch:

jobs:
  run_network_tests:
    if: github.event.label.name == 'run-network-tests' || github.event.action == null
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install packages and dependencies
        run: yarn install --frozen-lockfile
      - name: Ensure tests are runnable
        run: yarn workspace joystream-testing build
      - name: Configure block production to 2000ms (fatser tests)
        run: ./scripts/alter-block-creation-time.sh
      - name: Build and start chain
        working-directory: devops/dockerfiles/node-and-runtime/
        run: docker-compose up -d
      - name: Execute network tests
        run: yarn workspace joystream-testing test
