name: run-network-tests-pull-request
on:
  pull_request:
    types: [labeled, synchronize]

jobs:
  run_network_tests:
    name: Network Integration Tests (pull request)
    if: contains(github.event.pull_request.labels.*.name, 'run-network-tests')
    runs-on: ubuntu-latest
    env:
      JOYSTREAM_NODE_TAG: ${{ github.event.pull_request.base.ref }}
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - uses: technote-space/get-diff-action@v3
        with:
          PREFIX_FILTER: |
            node
            runtime-modules
            utils/chain-spec-builder
          SUFFIX_FILTER: |
            .rs
          FILES: |
            Cargo.lock
            Cargo.toml
      - name: Install packages and dependencies
        run: yarn install --frozen-lockfile
      - name: Ensure tests are runnable
        run: yarn workspace network-tests build
      - name: Build joystream/node Docker image from source
        run: docker-compose build
        if: env.GIT_DIFF
      - name: Pull joystream/node image from Dockerhub
        run: docker-compose pull
        if: !env.GIT_DIFF
      - name: Start chain
        run: docker-compose up -d
      - name: Execute network tests
        run: yarn workspace network-tests test
